<% @articles.each do |article| %>
<a href="<%= article.slug %>">
  <article>
    <h2><%= article.title %></h2>
    <p>
      Por <strong><%= article.user.name %></strong> em <%= article.created_at.strftime("%d/%m/%Y às %H:%Mh") %>
    </p>
    <div class="resume">
      <%= truncate(article.body, length: 100, omission: "...") %>
    </div>
  </article>
</a>
<% end %>
