<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title><%= content_for(:title) || "Bloglify" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Bloglify">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "front", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "front", "data-turbo-track": "reload", type: "module" %>
  </head>

  <header>
    <div class="logo">
      <%= link_to root_path, alt: "nomadev" do %>
        <h1>Nomadev</h1>
      <% end %>
    </div>

    <nav>
      <ul>
        <li>
          <a href="#">home</a>
        </li>
        <li>
          <a href="#">sobre</a>
        </li>
        <li>
          <a href="#">contato</a>
        </li>
      </ul>
    </nav>
  </header>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>

  <footer>
    <div class="rights">
      &copy; <strong>Nomadev</strong> <%= Date.current.year %> - Todos os direitos reservados
    </div>
  </footer>
</html>
